<!-- templates/success.html -->

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
</head>
    
<body style="font-family: Arial, sans-serif"> 
    <div class="center-screen">
        <a>we gotchu fam <3 </a>
    </div>
</body>

<style>
    .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
</style>

</html>
